/* Header.css */
.ep-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 36px;
}

.ep-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ep-logo {
  font-size: 32px;
  color: #ffffff;
}

.ep-header-text {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  top: -4px;
}
