.passport-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #2a6f97 0%, #61a5c2 100%);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px 36px;
}
.logo {
  font-size: 26px;
}
.logo-text {
  font-weight: 700;
  font-size: 20px;
}

.passport-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
padding-top: 160px; 
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 14px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.passport-card {
  background: #ffffff22;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  max-width: 400px;
  margin-top: 20px;
  text-align: left;
   display: flex;
  flex-direction: column;
}
.passport-card p {
  margin: 6px 0;
  font-size: 16px;
}
.home-button {
  margin-top: 20px;
  padding: 10px 24px;
  background-color: #fff;
  color: #2a6f97; /* نفس لون الخلفية تقريباً */
  border: none;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;

}

.home-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}
